.basic-info-row {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.comment-row {
    display: inline-flex;
    width: 100%;
    height: 60%;
}

ion-row {
    position: relative;
    width: 100%;
    height: 60%;
}

ion-grid {
    width: 100%;
    height: 100%;
}

ion-content {
    width: 100%;
    height: 100%;
}

ion-header {
    height: 5%;
} 