<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row class="top-row">
        <img src="../../../assets/images/harry_potter.jpg">
        <!-- <ion-list>
          <ion-item *ngFor="let item of items">
            <ion-thumbnail slot="start">
              <ion-img [src]="item.src"></ion-img>
            </ion-thumbnail>
            <ion-label>{{item.text}}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-row>
      <ion-row class="bottom-row">
        <img>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


