mat-card {
    width: 100%;
    height: 100%;
}

img {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.mat-card-img-slideshow {
    height: 70%;
}

.mat-card-imgs {
    height: 30%;
}