ion-searchbar {
    position: absolute;
    width: 40%;
    right: 25%;
}

.right-buttons {
    margin-right: 2%;
}

.left-buttons {
    margin-left: 2%;
}

ion-buttons {
    width: 10%;
}

button {
    margin-right: 20%;
}